/*Color Palette*/
.color-1{
    background: red;
}
.color-2{
    background: white;
}
.color-3{
    background:blue;
}
.color-4{
    bakground: black;
}

/*Textures and patterns*/
.pattern-1{
 background: url("http://img.bhs4.com/22/d/22d8ef25c96d26ed651e80cab779fc3dd71f1c5f_large.jpg");
    background-size: cover; 
}

.pattern-2{
 background: url("../img/Starbucks.png");
    background-size: contain;
}

/*Images*/
.imagery-1 img {
    box-shadow: 5px 5px  0px red,
        10px 10px  0px white,
        15px 15px  0px blue;
}
/*Icon*/
.icon-1 {
 border:none;   
}

.icon-2{
 background: url("../img/iconmonstr-smartphone-4-240.png");
    background-size: contain;
}

/*Navigation*/
nav li {
 list-style: none; 
   float: left;
}

nav a:link {
    background: red;
    color: white;
    border-bottom: 2px solid blue;
    border-radius: 5px;
    margin: 0 0 10px;
    padding: 20px 20px 5px 20px;
    text-decoration: none;
    
}

nav a: visited{
 color: white;   
}

nav a: focus{
 bordder: 10px solid red;   
}



nav a:hover{
 background: white;
    color: red;
    margin-top: 20px;
}

nav a: active{
 background: black;   
}







